<div class="card">
    <a class="item item-text-wrap item-icon-right item-borderless item-course" ng-class="{'item-progress': roundProgress}"
      ui-sref="site.mm_course-section-staysmart({cid: course.id, mid: null, sectionid: -1})" title="{course.fullname}}">
        <h2 align="center"><mm-format-text watch="true">{{course.fullname}}</mm-format-text></h2>
        <i ng-if="showActions && loaded" class="icon ion-android-more-vertical mm-animate-show-hide" ng-click="showCourseActions($event)"></i>
        <ion-spinner ng-if="!loaded" class="mm-animate-show-hide"></ion-spinner>
    </a>
    <div ng-transclude></div>
</div>
