<ion-view>
    <ion-nav-title>Energieberater</ion-nav-title>
    <ion-content>
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <h3 style="text-align: center;">{{consultant.email}}</h3>
                    <h3 style="text-align: center;">{{consultant.lastname}}, {{consultant.firstname}}</h3>
                </div>
            </div>
        </div>
        <ion-list ng-repeat="wp in wps">
            <div class="item item-button-right" ng-click="customerSelected()">{{wp.courseName}} von {{wp.firstname}} {{wp.lastname}} ({{wp.email}})</div>
        </ion-list>
    </ion-content>
</ion-view>
