<ion-view>
    <ion-nav-title>Neuen Kunden anlegen</ion-nav-title>
    <mm-nav-buttons side="secondary">
    </mm-nav-buttons>
    <ion-content>
      <form class="list" >
        <ion-list>
          <label class="item item-input">
            <span class="input-label">Vorname</span>
            <input ng-model="user.firstname" type="text" placeholder="" >
          </label>
          <label class="item item-input">
            <span class="input-label">Nachname</span>
            <input ng-model="user.lastname" type="text" placeholder="" >
          </label>
          <label class="item item-input">
            <span class="input-label">E-Mail</span>
            <input ng-model="user.email" type="email" placeholder="" >
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input ng-model="user.password" type="password" placeholder="">
          </label>
        </ion-list>
        <div class="spacer" style="height: 40px;"></div>
        <button  class="button button-stable button-block " ng-click="createCustomer(user)" >Anlegen</button>
      </form>
    </ion-content>
</ion-view>
